@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Savoye";
  src: url("/fonts/Savoye/Savoye.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay/FixelDisplay-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay/FixelDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Fixel";
  src: url("/fonts/FixelDisplay/FixelDisplay-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --text: #000000;
  --text-secondary: #164596;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Fixel", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-family: 'Playfair', serif;
}

h1{
  font-size: 64px;
  line-height: 72px;
  font-weight: 500;
}

h2{
  font-size: 48px;
  line-height: 56px;
  font-weight: 400;
}

h3{
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
}

h4{
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

li{
  text-wrap: wrap;
}

.container{
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.gradient_text {
  background: linear-gradient(to right, #2358AD, #247CA8, #2358AD);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.primary_btn {
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
  background: linear-gradient(to right, #0F456D, #247CA8, #0F456D);
  border-radius: 12px;
  color: #ffffff;
  font-weight: 600;
  box-shadow: 0 8px 0 #0a344f, 0 10px 30px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.primary_btn:active {
  box-shadow: 0 4px 0 #0a344f, 0 5px 15px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {
  body{
    font-size: 16px;
    line-height: 20px;
  }

  h1{
    font-size: 48px;
    line-height: 44px;
  }

  h2{
    font-size: 32px;
    line-height: 40px;
  }

  h3{
    font-size: 24px;
    line-height: 32px;
  }

  h4{
    font-size: 20px;
    line-height: 28px;
  }

  .primary_btn{
    padding: 24px 0;
  }
}

@media screen and (max-width: 480px) {
  body{
    font-size: 14px;
    line-height: 18px;
  }

  h4{
    font-size: 16px;
    line-height: 24px;
  }
}